input,select {
    border: 1px solid #000;
    border-radius: 7px;
    outline-width: 2px;
    outline-color: #0047FF;
    font-size: 17px;
    padding: 10px 15px;
}

.error_input {
    border: 2px solid red !important;
    outline-color: 2px solid red !important;
}

button {
    width: 380px;
    height: 56px;
    border: 0;
    border-radius: 8px;
    background-color: #0047FF;
    padding-block: 10px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: .3s ease;
}

button:hover {
    scale: 1.03;
    background-color: #0134b5;
}

button:active {
    scale: 1;
    background-color: #0047FF;
}